/* media */
@media (min-width: 1010px) {
  .storage-box {
    width: 20%;
    max-width: 20%;
    display: inline-block;
  }

  .min-half {
    min-width: 20%;
  }

  .mobile_show {
    display: none !important;
  }
}

@media (min-width: 601px) and (max-width: 1010px) {
  .storage-box.normal-box {
    width: 33.333%;
    max-width: 33.333%;
    min-width: 33.333%;
    display: inline-block;
  }

  .min-half {
    min-width: 20%;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .title {
    font-size: 2rem;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem !important;
  }

  .mobile_hide {
    display: none;
  }

  .desk_hide {
    display: block;
  }

  .new_visit_wrap {
    background: linear-gradient(#fff5f5 42%, #ffffff 50%) !important;
  }

  .border-bottom-thin .col-lg-5,
  .col-lg-4 {
    text-align: right !important;
  }

  .type .col-9 {
    text-align: right !important;
  }

  .main-title,
  .new-main-title {
    font-size: 1.6rem;
    line-height: 1.35em;
  }
}

@media (min-width: 331px) and (max-width: 600px) {
  .storage-box.normal-box {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
  }

  .desk_hide {
    display: block;
  }

  .storage-box.bigger-box {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
  }

  .box-start {
    display: inline-block !important;
    background-color: #e9474d;
  }

  .main-banner-subtext {
    font-size: 1.25rem;
  }

  .main-banner-text {
    font-size: 2.4rem;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .g-pro {
    width: 50%;
    background-size: cover;
  }

  .sort-height-line {
    border: 1px solid #fff !important;
  }

  .sort-height-line2 {
    border: 1px solid #fff !important;
  }

  .sort-width-line {
    border: 1px solid #fff !important;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .title {
    font-size: 2rem !important;
  }

  .mobile_hide {
    display: none;
  }
}

@media (min-width: 467px) and (max-width: 600px) {
  .min-half {
    min-width: 25%;
    max-width: 25%;
  }

  .mh {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .sort-height-line {
    border: 1px solid #fff !important;
  }

  .sort-height-line2 {
    border: 1px solid #fff !important;
  }

  .sort-width-line {
    border: 1px solid #fff !important;
  }

  .main-title,
  .new-main-title {
    font-size: 1.6rem;
    line-height: 1.35em;
  }

  .margin-tb {
    margin: 6rem 0rem !important;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .title {
    font-size: 2rem !important;
  }

  .mobile_hide {
    display: none;
  }
}

@media (min-width: 415px) and (max-width: 767px) {
  .control-box {
    margin-top: 24px !important;
  }
}

@media (min-width: 341px) and (max-width: 467px) {
  .fail-h1 {
    font-size: 7rem;
  }

  .min-half {
    max-width: 33.333%;
  }

  .title-main {
    font-size: 1.625rem;
  }

  .mh {
    margin-top: 3rem !important;
    margin-bottom: 5rem !important;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .sort-height-line {
    border: 1px solid #fff !important;
  }

  .sort-height-line2 {
    border: 1px solid #fff !important;
  }

  .sort-width-line {
    border: 1px solid #fff !important;
  }

  .main-title,
  .new-main-title {
    font-size: 1.5rem;
    line-height: 1.35em;
  }

  .margin-tb {
    margin: 4.5rem 0rem !important;
  }

  .main-banner-text {
    font-size: 1.8rem !important;
    line-height: 1.4em;
  }

  .main-banner-subtext {
    font-size: 1.438rem !important;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
    margin-bottom: 10px !important;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .title {
    font-size: 2rem !important;
  }

  .about-sub {
    font-size: 1rem !important;
  }

  .mobile_hide {
    display: none;
  }

  .event-text {
    font-size: 0.8rem;
  }

  .sub-text {
    font-size: 0.9375rem !important;
  }
}

@media (min-width: 0px) and (max-width: 334px) {
  .fail-h1 {
    font-size: 7rem;
  }

  .storage-box.normal-box {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
  }

  .desk_hide {
    display: block;
  }

  .storage-box.bigger-box {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
  }

  .min-half {
    min-width: 50%;
  }

  .box-start {
    display: inline-block !important;
  }

  .main-banner-subtext {
    font-size: 1.25rem;
  }

  .title-main {
    font-size: 1.625rem;
  }

  .mh {
    margin-top: 3rem !important;
    margin-bottom: 5rem !important;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .sort-height-line {
    border: 1px solid #fff !important;
  }

  .sort-height-line2 {
    border: 1px solid #fff !important;
  }

  .sort-width-line {
    border: 1px solid #fff !important;
  }

  .main-title,
  .new-main-title {
    font-size: 1.5rem !important;
    line-height: 1.35em;
  }

  .margin-tb {
    margin: 5rem 0rem !important;
  }

  .main-banner-text {
    font-size: 2rem !important;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .about-title {
    font-size: 1.5rem !important;
  }

  .about-sub {
    font-size: 1rem !important;
  }

  .mobile_hide {
    display: none;
  }

  .event-text {
    font-size: 0.78rem;
  }

  .main-text {
    font-size: 1rem !important;
  }

  .sub-text {
    font-size: 0.9375rem !important;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .storage-title {
    display: none;
  }

  .branch-title {
    font-size: 1rem !important;
  }

  .new_visit_wrap {
    background: linear-gradient(#fff5f5 40%, #ffffff 50%) !important;
  }

  .border-bottom-thin .col-lg-5,
  .col-lg-4 {
    text-align: right !important;
  }

  .type .col-9 {
    text-align: right !important;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .new_visit_wrap .join-g-faq-left {
    margin-top: 75px !important;
  }

  .cargor-box .cargor-sub-box {
    height: 0px;
  }
}

@media (min-width: 415px) and (max-width: 1024px) {
  .footer-con-2 strong {
    display: none;
  }

  .footer-con-3 strong {
    display: none;
  }
}

@media (min-width: 415px) and (max-width: 768px) {
  .branch-1 {
    width: 550px !important;
    height: 384px !important;
  }

  .main-slide-next.prev-slide {
    top: -258px !important;
    left: -80px !important;
  }

  .main-slide-next.next-slide {
    top: -258px !important;
    left: 510px !important;
  }

  .pl-15 {
    padding-left: 15px;
  }

  .footer .footer-logo {
    max-width: 95%;
  }

  .fail-h1 {
    font-size: 7rem;
  }

  .service-box img {
    height: 40% !important;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .footer-con-1 li {
    margin-right: 0;
  }

  .footer-con-2 strong {
    display: none;
  }

  .footer-con-3 {
    padding-bottom: 60px !important;
  }

  .footer-con-3 strong {
    display: none;
  }
}

@media (max-width: 750px) {
  .fooger-con-1 {
    padding: 0 !important;
  }
}

@media (max-width: 820px) {
  .event-banner {
    height: 40px !important;
    padding-top: 1.3% !important;
    z-index: 9999 !important;
    position: relative;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .main-slide-next.prev-slide {
    left: -73px !important;
    top: -258px !important;
  }

  .main-slide-next.next-slide {
    left: 540px !important;
    top: -258px !important;
  }
}

@media (min-width: 0px) and (max-width: 1009px) {
  .first-box {
    border-radius: 0 !important;
  }

  .last-box {
    border-radius: 0 !important;
  }
}

@media (min-width: 0px) and (max-width: 414px) {
  .franchise_2 .col-md-12.mb-4 {
    margin-bottom: 0px !important;
  }

  .f_main_banner {
    height: 45vh !important;
  }

  .service .service-wrap {
    margin-top: 20px !important;
  }

  .storage-wrap .storage-box .storage-btn {
    font-size: 15px !important;
  }

  .new_index1 .box .bg-box .img-box {
    width: 220px !important;
    height: 135px !important;
    margin-right: auto !important;
  }

  .bg-box img {
    width: 215px !important;
  }

  .submit-form {
    margin-top: 26px !important;
  }

  .qna-agree .wrap .agree-txt {
    margin-top: -5px !important;
  }

  .service-box.left {
    padding-right: 8px !important;
  }

  .service-box.right {
    padding-left: 8px !important;
  }

  .questions {
    padding: 18px 20px !important;
    font-size: 0.938rem;
  }

  .wrap-3 .col-md-12.text-center.mt-5 {
    margin-top: 20px !important;
  }

  .about-box {
    padding: 65px 20px !important;
  }

  .about-logo-box {
    display: none !important;
  }

  .about-list-box {
    padding: 28px !important;
  }

  .wrap-2 p {
    font-size: 16px !important;
  }

  .visit-name {
    font-size: 16px !important;
  }

  .visit-size,
  .visit-box {
    font-size: 15px !important;
  }

  .new_visit_wrap .join-g-faq-left .visit-box-img {
    width: 125px;
  }

  .new_visit_wrap .join-g-faq-left .line-box.h {
    left: 93px;
  }

  .new_visit_wrap .join-g-faq-left .line-box.d {
    top: -60px;
    left: -36px;
  }

  .size-img {
    width: 23px !important;
  }

  .visit-name {
    padding-left: 5px !important;
  }

  .service-wrap .col {
    border-radius: 25px !important;
    padding: 5px !important;
    border: 8px solid #fff !important;
  }

  .storage-info .branch-storage-box {
    padding: 18px !important;
    border-radius: 20px !important;
    margin-bottom: 5px !important;
  }

  .new_visit_wrap .visit-list-box .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }

  .new_visit_wrap .visit-top-box {
    margin: 0px !important;
    margin-bottom: 10px !important;
    display: none !important;
  }

  .new_visit_wrap .visit-list-box {
    margin: 0px !important;
    margin-bottom: 10px !important;
    padding: 13px 20px !important;
  }

  .cargor-box {
    margin-bottom: 0px !important;
  }

  .franchise_2 .box p {
    font-size: 16px !important;
  }

  .franchise_3 {
    margin: 120px 0 !important;
  }
  .franchise_3 .col-md-12.mb-5 {
    margin-bottom: 8px !important;
  }
  .franchise_3 .space_name {
    font-size: 15px !important;
    left: 20px !important;
    bottom: 20px !important;
  }

  .new_index3 {
    margin: 120px 0 0 0 !important;
  }

  .list-box {
    padding: 30px 25px !important;
    border-radius: 20px !important;
  }

  .list-box p {
    font-size: 16px !important;
    padding: 15px !important;
    margin-bottom: 12px !important;
    border-radius: 15px !important;
  }

  .list-box h6 {
    margin-bottom: 16px !important;
    font-size: 18px !important;
    padding-left: 5px !important;
  }

  .franchise-btn {
    font-size: 16px !important;
  }

  .main-banner-wrap {
    width: 100%;
    background-image: url(/assets/img/m_banner@2x.jpg) !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .franchise-mt {
    margin-top: 120px !important;
  }

  .service-box .card-title {
    font-size: 17px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
  }

  .service-box .card-text {
    display: none;
  }

  .event-footer {
    margin-top: 0px !important;
  }

  .title {
    font-size: 24px !important;
  }

  .franchise_1 .first-title {
    font-size: 26px !important;
  }

  .franchise_3 .swiper-slide {
    width: 100% !important;
  }

  .franchise_2 .img {
    border-radius: 20px !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .franchise_2 {
    margin: 80px 0 0 0 !important;
  }

  .franchise_3 .swiper-slide img {
    width: 91% !important;
    height: 300px !important;
    /* margin-left: -8.8% !important; */
  }

  .franchise_2 .box {
    padding: 25px !important;
    border-radius: 23px !important;
    margin-top: 18px !important;
  }

  .franchise_2 .box .name {
    font-size: 17px !important;
    height: auto !important;
    font-weight: 800 !important;
    margin-bottom: 8px !important;
  }

  .new_index4 {
    margin: 120px 0 !important;
  }

  .main-title,
  .new-main-title {
    font-size: 1.5rem !important;
    margin-bottom: 24px;
  }

  .new-sub-text {
    font-size: 16px !important;
  }

  .new_index1 {
    margin: 120px 0 !important;
  }
  .new_index3 .col-md-12.mb-4 {
    margin-bottom: 0px !important;
  }

  .new-main-text {
    font-size: 17px !important;
    margin-bottom: 10px !important;
  }

  .new-main-text.text-bottom {
    margin-bottom: 0px !important;
  }

  .new_index1 .box,
  .bg-box {
    border-radius: 25px !important;
    padding: 30px !important;
  }

  .control-box {
    margin-top: 24px !important;
  }

  .event_wrap {
    margin-top: 85px !important;
  }

  .min-half img {
    width: 85px !important;
    height: auto !important;
  }

  .qna-agree .wrap .agree-txt,
  .agree-txt {
    font-size: 14px;
  }

  .service-box {
    height: 58px !important;
  }

  .card-body {
    padding: 1rem;
  }

  .qna-box {
    margin-top: 0px !important;
  }

  .qna-box .mg-13 {
    font-size: 14px;
  }

  .footer .footer-bottom {
    padding: 15px 15px 110px 15px !important;
  }

  .navbar-wrap img {
    width: 105px !important;
    height: auto !important;
  }

  .about-title {
    font-size: 26px !important;
    line-height: 2.2rem !important;
    color: #e9474d !important;
  }

  .navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .navbar {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }

  .cs {
    margin-bottom: 70px !important;
  }

  .wrap_map,
  .map-overlay {
    height: 240px !important;
  }

  .storage-img {
    margin: 10px auto;
  }

  .storage-txt div {
    padding-left: 0px !important;
  }

  .join-guide .join-g-title h3 {
    font-weight: 700;
    font-size: 1.5rem !important;
    letter-spacing: 0;
    display: flex;
    align-items: center;
  }

  .address {
    font-size: 1rem !important;
    margin-top: 10px;
    margin-bottom: 10px !important;
  }

  .address-info {
    font-size: 1rem !important;
  }

  .main-slide-next .material-icons {
    font-size: 30px !important;
  }

  .main-slide-next.prev-slide {
    left: -50px !important;
    top: -158px !important;
    width: 45px;
    height: 45px;
  }

  .main-slide-next.next-slide {
    top: -158px !important;
    left: 323px !important;
    width: 45px !important;
    height: 45px !important;
  }

  .main_wrap .row {
    padding: 100px 0 80px 0 !important;
  }

  .about-logo {
    width: 150px;
    height: auto;
  }

  .visit_form .col-md-4 {
    margin-bottom: 80px !important;
  }

  .privacy-wrap {
    padding: 100px 0px;
  }

  .privacy-title {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .privacy-txt {
    font-size: 15px;
  }

  .privacy-num {
    font-size: 17px;
    margin-top: 30px;
  }

  .privacy-info {
    font-size: 15px;
    margin: 15px 0px;
  }

  .privacy-table td,
  .privacy-table th {
    padding: 5px;
  }

  .privacy-line {
    margin: 0px 0px 20px;
  }

  .size-info {
    font-size: 15px !important;
  }

  .main-text,
  .size-name {
    font-size: 17px !important;
  }

  .main-text {
    margin-bottom: 12px !important;
  }

  .size-price {
    font-size: 16px !important;
  }

  .sub-text {
    font-size: 0.9375rem !important;
  }

  .storage-wrap .storage-box {
    padding-bottom: 1rem !important;
  }

  .storage-box img {
    max-width: 38% !important;
  }

  .join-guide .main_title {
    margin-bottom: 26px;
  }

  .join-guide {
    padding-top: 70px !important;
  }

  .footer-t {
    padding-bottom: 36px !important;
    padding-top: 30px !important;
  }

  .footer-con-3 {
    padding-bottom: 80px !important;
  }

  .footer-con-2 strong {
    display: none;
  }

  .footer-con-3 strong {
    display: none;
  }

  .footer .footer-con li {
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
  }

  .ceo {
    margin-right: 20px !important;
  }

  .footer-logo {
    width: 35% !important;
    margin-bottom: 20px;
  }

  .fooger-con-1 {
    padding: 0 !important;
  }

  .footer .footer-con-3 li {
    border-style: none;
    margin-bottom: 0;
  }

  .footer-bottom {
    padding-bottom: 0 !important;
  }

  .footer-bottom-text {
    margin-top: 0 !important;
  }

  .footer-bottom-text li:nth-child(2) {
    margin-right: 15px !important;
    margin-top: 24px;
  }

  .footer-bottom-text li:nth-child(3) {
    margin-top: 24px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 1000px) {
  .success-btn {
    width: 60%;
  }
}

@media (max-width: 740px) {
  .success-btn {
    width: 80%;
  }
}

@media (max-width: 990px) {
  .pl-15 {
    padding-left: 15px;
  }

  .branch-1 {
    width: 574px !important;
    height: 410px !important;
  }

  .package-con .form-row {
    width: 100%;
    padding: 15px;
  }

  .modal-body {
    padding: 50px 20px !important;
  }

  .footer-right {
    float: left;
  }

  .package-con h2 {
    margin-left: 15px;
  }

  .package-con p {
    margin-left: 15px;
  }

  .package-img {
    display: none;
  }

  .package-con {
    padding-bottom: 100px;
  }
}

/* branch-1 */
@media (min-width: 0px) and (max-width: 320px) {
  .branch-1 {
    width: 288px !important;
    height: 175px !important;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .branch-1 {
    width: 345px !important;
    height: 215px !important;
  }
}

@media (min-width: 376px) and (max-width: 450px) {
  .branch-1 {
    width: 350px !important;
    height: 230px !important;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .new_visit_wrap #visitTime button {
    width: 29.5% !important;
  }
  .navbar {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }

  .storage-wrap .storage-box .storage-btn {
    font-size: 15px !important;
  }

  .about-box {
    padding: 80px 40px !important;
  }

  .about-list-box {
    padding: 30px !important;
  }

  .new_index1 .box .bg-box .img-box {
    width: 250px !important;
  }

  .bg-box img {
    width: 210px !important;
  }

  .storage-box img {
    max-width: 30% !important;
  }

  .new-main-text {
    margin-bottom: 8px !important;
  }

  .storage-box div:nth-child(2) img {
    width: 24px !important;
  }

  .sub-text {
    font-size: 15px !important;
    margin-bottom: 16px !important;
  }

  .list-box p {
    font-size: 16px !important;
    padding: 13px 20px !important;
    border-radius: 12px !important;
    margin-bottom: 12px !important;
  }

  .wrap-2 .row.mt-5 {
    margin-top: 32px !important;
  }

  .about_brand_2 .img-fluid {
    width: 430px !important;
  }

  .main_wrap .row {
    padding: 120px !important;
  }

  .about-logo-box {
    padding: 60px 25px !important;
  }

  .about-logo-box img {
    width: 110px !important;
  }

  .wrap-1 .about-title.mt-3 {
    margin-top: 0px !important;
    font-size: 24px !important;
    margin-bottom: 12px !important;
  }

  .about-logo {
    width: 230px !important;
  }

  .new_visit_wrap .join-g-faq-left {
    margin-top: 110px !important;
    margin-left: 30px !important;
  }

  .line-box.h {
    top: -174px !important;
  }

  .visit-name {
    font-size: 16px !important;
  }

  .visit-size,
  .visit-box {
    font-size: 15px !important;
  }

  .new_visit_wrap .join-g-inquiry-right {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: 150px !important;
  }

  .new-sub-text {
    font-size: 16px !important;
  }

  .bg-box {
    padding: 30px !important;
  }

  .list-box h6 {
    font-size: 19px !important;
    margin-bottom: 24px !important;
  }

  .list-box {
    padding: 32px 32px !important;
    border-radius: 25px !important;
  }

  .new_index1 .box {
    padding: 35px !important;
  }

  .franchise_2 .box p {
    font-size: 17px !important;
  }

  .franchise_2 .box {
    padding: 35px !important;
  }

  .wrap_map,
  .map-overlay {
    height: 500px !important;
  }

  .storage-info .branch-storage-box {
    border-radius: 20px !important;
    padding: 30px !important;
  }

  .service-wrap .col {
    padding: 6px !important;
    border: 10px solid #fff !important;
    border-radius: 30px !important;
  }

  .visit-top-box .col-md-4,
  .visit-top-box .col-md-5,
  .visit-list-box .col-md-4,
  .visit-list-box .col-md-5,
  .visit-list-box .col-md-3 {
    padding: 0px !important;
  }

  .new_index1,
  .new_index3,
  .new_index4 {
    margin: 120px 0 !important;
  }

  .index_fixed_btn {
    right: 30px !important;
  }

  .franchise_2 .box .name,
  .new-main-text {
    font-size: 17px !important;
  }

  .mg-box {
    margin: 180px 0 !important;
  }

  .main-banner-text {
    font-size: 2.5rem;
  }

  .main-title,
  .new-main-title {
    font-size: 1.5rem !important;
  }

  .margin-tb {
    margin: 105px 0;
  }

  .about_brand_2 {
    padding: 130px 0;
  }

  .mh {
    margin: 180px 0 !important;
  }

  .wrap-1.pt-5 {
    padding-top: 0 !important;
  }

  .franchise-mt {
    margin-top: 100px;
  }

  .mobile-menu .mobile-menu-list {
    margin-top: 170px !important;
  }

  .mobile-menu .mobile-menu-list li {
    margin-bottom: 5% !important;
    font-size: 24px !important;
  }

  .mobile-menu .mobile-menu-list button {
    font-size: 24px;
  }

  .visit_wrap .join-g-inquiry-left {
    margin-left: 18px !important;
  }

  .visit_wrap .join-g-inquiry-right {
    padding: 0px !important;
    margin-bottom: 200px !important;
    margin-top: 200px !important;
  }

  .visit_wrap .visit_m {
    max-width: 12% !important;
  }

  .service-box {
    height: 185px;
  }

  .border-bottom-thin .col-lg-5,
  .col-lg-4 {
    text-align: right !important;
  }

  .type .col-9 {
    text-align: right !important;
  }
}

@media (max-width: 991px) {
  .mg-r-30 {
    margin-right: 0px;
  }

  .half {
    width: 100%;
  }

  .footer-con-1 span a {
    margin-right: 15px;
  }

  .navbar-wrap {
    padding: 0 15px !important;
  }

  .franchise-topbox {
    padding: 30px 10px;
  }

  .mg-t-3 {
    margin-top: 25px;
  }

  .form-box .form-btn {
    margin-top: 35px;
  }

  .package-p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px !important;
  }

  .right-area {
    display: none;
  }

  .form-12 {
    width: 80%;
  }

  .form-box h2 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .col-md-5.Aligner {
    display: none;
  }

  .visit_wrap .visit-time-m {
    margin-top: -25px !important;
  }

  .join-g-inquiry-right {
    margin-top: 50px !important;
  }

  .main-banner-text {
    font-size: 2.5rem;
  }

  .arrow-forward {
    color: #fff !important;
    font-weight: 500;
  }

  .franchise-mt {
    margin-top: 100px;
  }

  .storage-wrap .storage-btn {
    color: #000 !important;
  }

  .qna-box {
    padding: 20px 0;
    margin-top: 15px;
  }

  .qna-box .row {
    margin-bottom: 8px !important;
  }
}

@media (max-width: 401px) {
  .col-md-7.Aligner .card-text {
    display: none;
  }

  .col-md-7.Aligner .card-title {
    text-align: center;
    padding-top: 3px;
    font-size: 17px;
  }

  .service-box {
    height: 50px !important;
  }

  .service-box .card-body {
    padding-top: 10px;
  }
}

@media (max-width: 492px) {
  .index_fixed_btn {
    width: 80px;
    height: 80px;
    font-size: 14px;
    right: 20px;
  }

  .sizeCheck {
    bottom: 110px !important;
    font-weight: 700;
  }

  .main_inquiry .form_box {
    width: 100vw;
    left: 0;
  }

  .navbar-brand img,
  .main-logo {
    width: 105px !important;
    height: auto;
  }

  .preparing-area {
    line-height: 262px;
    font-size: 26px;
  }

  .wrap-2 .mt-5 {
    margin-top: 1rem !important;
  }

  .about-title b {
    display: block;
  }

  .wrap-1.pt-5 {
    padding-top: 0px !important;
  }

  .wrap-1 .col-md-4 img {
    width: 135px !important;
    height: auto;
  }

  .about_brand_2 img {
    width: 65%;
  }

  .about_brand_2 {
    padding: 80px 0;
  }

  .mt-m .mt-5 {
    margin-top: 1rem !important;
  }

  .border-bottom-thin .col-lg-5,
  .col-lg-4 {
    text-align: right !important;
  }

  .type .col-9 {
    text-align: right !important;
  }

  .franchise_main_wrap {
    height: 350px;
  }

  .franchise_main_wrap h2 {
    top: 250px !important;
    font-size: 1.6rem;
  }

  .franchise-topbox {
    padding: 25px 10px;
    top: 255px;
  }

  .f-text-p {
    font-size: 16px !important;
    margin-bottom: 32px !important;
  }

  .ft-14 {
    font-size: 1.3rem !important;
  }

  .event-form label {
    margin-bottom: 4px !important;
  }

  .event-banner .event-text span {
    font-size: 10px !important;
  }

  .join-g-menu-item {
    font-size: 1rem;
  }

  .visit_wrap .submit-form {
    position: fixed;
    z-index: 85;
    bottom: 0;
    left: 0;
    background-color: #e9474d;
    color: #fff !important;
    padding: 21px;
    font-size: 1.063rem !important;
    margin-top: 0px !important;
    border-radius: 0px !important;
  }

  .visit_main_inquiry_btn {
    bottom: 85px !important;
    z-index: 50;
  }

  .event-banner .event-text a u {
    font-size: 14px !important;
  }

  .storage-info .storage-type-pic img {
    max-width: 75% !important;
  }

  .mg-t-30 {
    margin-top: 0px !important;
  }
}

@media (max-width: 450px) {
  .main_inquiry .form_box {
    height: 100vh;
    top: 0;
    border-radius: 0;
  }

  .main_inquiry .form_box .form {
    height: 72vh;
    overflow-y: auto;
    padding-bottom: 35px;
  }

  .preparing-area {
    line-height: 230px;
    font-size: 24px;
  }

  .frabchuse-btn {
    font-size: 17px !important;
    font-weight: 500;
    color: #e9474d !important;
  }

  .frabchuse-btn .material-icons {
    font-size: 22px !important;
  }

  .event-banner-btn .material-icons {
    color: #333 !important;
  }

  .detail-title {
    font-size: 23px;
  }
}

@media (max-width: 391px) {
  .index_fixed_btn {
    right: 15px;
    bottom: 20px;
    font-size: 13px;
  }

  .main_inquiry .form_box .form {
    height: 87vh;
    overflow-y: auto;
    padding-bottom: 55px;
  }

  .main_inquiry .form_box .form button {
    margin-bottom: 20px;
  }
}

@media (max-width: 380px) {
  .main_inquiry .form_box .form .agree-txt {
    margin-top: -30px !important;
    margin-left: 25px;
    font-size: 13px;
    padding-right: 15px;
    word-break: keep-all;
    margin-bottom: 10px;
  }

  .main_inquiry .form_box .form button {
    margin-top: 10px;
  }
}

@media (max-width: 990px) {
  .sort-height-line {
    top: 176px;
  }

  .join-g-pro-con {
    width: 9.25rem;
    height: 9.25rem;
    padding-top: 46px;
    font-size: 16px;
  }

  .sort-height-line2 {
    top: 177px;
  }

  .sort-width-line {
    top: 75px;
  }
}

@media (max-width: 349px) {
  .desk_hide .mo_hide {
    display: none;
  }

  .event-banner a u {
    font-size: 13px !important;
  }

  .main-banner-subtext {
    font-size: 1.2rem;
  }
}

/* 햄버거 버튼(nav button) media CSS */
@media screen and (min-width: 992px) {
  #nav_button {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .hamBtn {
    padding-right: 10px !important;
  }
}

@media screen and (max-width: 450px) {
  .hamBtn {
    padding-right: 15px !important;
  }
}

/* 메인 - 배너 팝업 위치 반응형 */
@media screen and (min-width: 1301px) {
  .web-popup {
    left: 60%;
  }
}

@media screen and (max-width: 1300px) {
  .web-popup {
    right: 5%;
  }
}
