@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.num{
	color: #000 !important;
}

.num a{
	color: #000 !important;
}

.desk_hide{
	display: none;
}

.event-banner.intro {
  display: none;
}

html.prevent-scroll, body.prevent-scroll {
  overflow: hidden;
}

.event-form span {
  color: #E8464D;
}

body {
  font-family: 'Noto Sans KR', sans-serif !important;
  letter-spacing: -.02em;
}

ul {
  list-style: none;
}

.main-logo {
  width: 120px !important;
  height: 50px;
}

.about-logo {
  width: 296px;
  height: 174px;
}

.navbar-light .navbar-toggler {
  border: none;
}


/* media */
@media (min-width:1010px) {
  .storage-box {
    width: 20%;
    max-width: 20%;
    display: inline-block;
  }

  .min-half {
    min-width: 20%;
  }

  .mobile_show {
    display: none !important;
  }
}

@media (min-width:601px) and (max-width:1010px) {
  .storage-box.normal-box {
    width: 33.333%;
    max-width: 33.333%;
    min-width: 33.333%;
    display: inline-block;
  }

  .min-half {
    min-width: 20%;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .sort-height-line {
    /* border: 1px solid #fff !important; */
  }

  .sort-height-line2 {
    /* border: 1px solid #fff !important; */
  }

  .sort-width-line {
    /* border: 1px solid #fff !important; */
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .title {
    font-size: 2rem;
  }
}

@media (min-width:601px) and (max-width:767px) {
  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem !important;
  }

  .mobile_hide {
    display: none;
  }
  .desk_hide{
	display: block;
}

  .visit_wrap {
    background: linear-gradient(#FFF5F5 52%, #ffffff 50%) !important;
  }
}

@media (min-width:331px) and (max-width:600px) {
  .storage-box.normal-box {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
  }

  .desk_hide{
	display: block;
}

  .storage-box.bigger-box {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
  }

  .box-start {
    display: inline-block !important;
    background-color: #E8464D;
  }

  .main-banner-subtext {
    font-size: 1.25rem;
  }

  .main-banner-text {
    font-size: 2.5rem;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .g-pro {
    width: 50%;
    background-size: cover;
  }

  .sort-height-line {
    border: 1px solid #fff !important;
  }

  .sort-height-line2 {
    border: 1px solid #fff !important;
  }

  .sort-width-line {
    border: 1px solid #fff !important;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .title {
    font-size: 2rem !important;
  }

  .mobile_hide {
    display: none;
  }
}

@media (min-width:467px) and (max-width:600px) {
  .min-half {
    min-width: 25%;
    max-width: 25%;
  }

  .mh {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .sort-height-line {
    border: 1px solid #fff !important;
  }

  .sort-height-line2 {
    border: 1px solid #fff !important;
  }

  .sort-width-line {
    border: 1px solid #fff !important;
  }

  .main-title {
    font-size: 1.6rem;
    line-height: 1.35em;
  }

  .margin-tb {
    margin: 5rem 0rem !important;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .title {
    font-size: 2rem !important;
  }

  .mobile_hide {
    display: none;
  }
}

@media (min-width:341px) and (max-width:467px) {
  .min-half {
    max-width: 33.333%;
  }

  .title-main {
    font-size: 1.625rem;
  }

  .mh {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .sort-height-line {
    border: 1px solid #fff !important;
  }

  .sort-height-line2 {
    border: 1px solid #fff !important;
  }

  .sort-width-line {
    border: 1px solid #fff !important;
  }

  .main-title {
    font-size: 1.6rem;
    line-height: 1.35em;
  }

  .margin-tb {
    margin: 5rem 0rem !important;
  }

  .main-banner-text {
    font-size: 2rem !important;
  }

  .main-banner-subtext {
    font-size: 1.438rem !important;
  }

  .main-banner-text {
    font-size: 2.188rem !important;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .title {
    font-size: 2rem !important;
  }

  .about-sub {
    font-size: 1rem !important;
  }

  .mobile_hide {
    display: none;
  }

  .event-text {
    font-size: 0.80rem;
  }

  .main-text {
    font-size: 1.063rem !important;
  }

  .sub-text {
    font-size: 0.9375rem !important;
  }
}

@media (min-width:0px) and (max-width:334px) {
  .storage-box.normal-box {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
  }

  .desk_hide{
	display: block;
}

  .storage-box.bigger-box {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    display: inline-block;
  }

  .min-half {
    min-width: 50%;
  }

  .box-start {
    display: inline-block !important;
  }

  .main-banner-subtext {
    font-size: 1.25rem;
  }

  .main-banner-text {
    font-size: 2.188rem;
  }

  .title-main {
    font-size: 1.625rem;
  }

  .mh {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .branch-box {
    margin-left: 0px !important;
  }

  .sort-height-line {
    border: 1px solid #fff !important;
  }

  .sort-height-line2 {
    border: 1px solid #fff !important;
  }

  .sort-width-line {
    border: 1px solid #fff !important;
  }

  .main-title {
    font-size: 1.5rem;
    line-height: 1.35em;
  }

  .margin-tb {
    margin: 5rem 0rem !important;
  }

  .main-banner-text {
    font-size: 2rem !important;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .branch-list-address {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .branch-list-title {
    font-size: 1.313rem;
  }

  .storage-wrap {
    padding-top: 0px !important;
  }

  .about-title {
    font-size: 1.5rem !important;
  }

  .about-sub {
    font-size: 1rem !important;
  }

  .mobile_hide {
    display: none;
  }

  .event-text {
    font-size: 0.78rem;
  }

  .main-text {
    font-size: 1rem !important;
  }

  .sub-text {
    font-size: 0.9375rem !important;
  }
}

@media (min-width:0px) and (max-width:600px) {
  .storage-title {
    display: none;
  }

  .branch-title {
    font-size: 1rem !important;
    color: #E8464D;
  }

  .visit_wrap {
    background: linear-gradient(#FFF5F5 52%, #ffffff 50%) !important;
  }
}

/* 컨테이너 */
.main-container {
  max-width: 1230px !important;
  margin: 0 auto;
}

/* 메인페이지 메인배너 */
.main-banner-wrap {
  background-image: url(../img/main_banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* 탑 띠배너 */
.event-banner {
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 0 2%;
  font-size: 0.9rem;
}

/* nav */
.navbar-wrap {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 2%;
  z-index: 99;
}

.navbar .nav-link {
  color: #fff;
  font-size: 1.063rem;
}

.navbar .nav-bar-btn {
  background-color: #E8464D;
  border: none;
  color: #fff;
  padding: 8px 20px;
  font-size: 1.063rem;
  border-radius: 500px;
  margin-left: 10px;
}

.main-banner-subtext {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 400;
}

.main-banner-text {
  color: #fff;
  font-size: 3.438rem;
  font-weight: 500;
}

.main-banner-btn {
  font-size: 1.25rem;
  color: #fff;
  border: none;
  background: none;
}

.margin-tb {
  margin: 200px 0;
}

.sub-text {
  font-size: 1rem;
}

/* nav-scroll */
.fixed-head-white {
  background: #fff;
  color: #000;
  z-index: 99
}

.fixed-head-white .nav-link {
  color: #000 !important;
}

.pd-7 {
  padding-bottom: 0.7rem;
}

.top-pd {
  padding: 15px 0px;
}

.top-nav {
  position: fixed;
  top: 55px;
  left: 0px;
  width: 100%;
  transition: all .5s;
}

.top-nav.fixed-head {
  top: 0px;
}

.logo-r {
  display: none;
}

.fixed-head-white .logo-r {
  display: block !important;
}

.fixed-head-white .logo-w {
  display: none !important;
}

/* storage-wrap */
.box-start {
  display: none;
}

.storage-box img {
  max-width: 90%;
}

.storage-wrap {
  background: linear-gradient(#E8464D 65%, #ffffff 35%);
  padding-top: 35px;
}

.storage-box {
  background-color: #fff;
  border: 1px solid #e1e1e1;
}

.storage-btn {
  background: none;
  border: none;
}

.float {
  position: relative;
  top: -25px;
}

.label {
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
  border-radius: 500%;
  font-size: 0.875rem;
  font-weight: 500;
}

/* 이벤트 */
.card.off-event .card-img-top,
.card.off-event .event-card-body {
  opacity: 0.5;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  visibility: hidden;
  transition: .3s linear;
  transform: scale(.2);
}

.overlay.is-open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.form-control {
  border-radius: 0;
  height: calc(2.5rem + .75rem + 2px);
  font-size: 0.9375rem;
  color: #888;
}

.visit {
  border: 1px solid #ced4da;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 0.875rem;
  color: #888;
}

.partner-form {
  border: 1px solid #e1e1e1;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 0.875rem;
  color: #888;
}

.form-title {
  font-size: 1rem;
  font-weight: 500;
}

.form-title span {
  color: #E8464D;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #fff;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  border-bottom-color: #e2e2e2;
}

.filebox input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.submit-form {
  width: 100%;
  padding: 17px 34px;
  background-color: #fff;
  border: 1px solid #E8464D;
  color: #E8464D;
  font-weight: 500;
  border-radius: 0;
  margin-top: 20px;
}

.submit-form:hover {
  background-color: #E8464D;
  color: #fff;
}

/* footer */
.footer {
  background-color: #FBFBFB;
  color: #000;
  font-size: 0.875rem;
  bottom: 0;
  word-break: keep-all;
}

.footer-t {
  padding: 0;
  padding-top: 62px;
}

.footer a:hover {
  text-decoration-line: none;
}

.footer .footer-logo {
  width: 100%;
  /* margin-right: 40px; */
}

.footer-con-1 {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 5px;
  padding-bottom: 40px;
}

.footer-con-1 span a {
  color: #000;
}

.footer-con li {
  margin-right: 20px;
}

.footer .footer-con span {
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 10px;
}

.footer-con-2 strong {
  margin-left: 10px;
}

.footer-con-3 strong {
  margin-left: 10px;
}

.footer .footer-con-1 li:nth-child(1) {
  margin-left: 0;
}

.footer .footer-con-1 li:nth-child(4) {
  margin-right: 0;
}

.footer .footer-con-2 {
  font-size: 0.8125rem;
  padding-bottom: 10px;
}

.footer .footer-con-2 li:nth-child(3) {
  margin-right: 0;
}

.footer .footer-con-3 {
  font-size: 0.8125rem;
  padding-bottom: 98px;
}

.footer .footer-con-3 li:nth-child(2) {
  margin-right: 0;
}

.footer-right {
  float: right;
}

.footer .footer-right h6 {
  font-size: 1.25rem;
}

.footer .footer-right p {
  font-size: 0.8125rem;
}

.footer-m .footer-line {
  /* height: 10px; */
  border-top: 1px solid #e1e1e1;
  width: 100% !important;
}

.footer ul li {
  float: left;
}

.footer .so {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  border-radius: 100%;
  display: inline-block;
}

.footer .footer-bottom {
  bottom: 0;
  margin: 0 auto !important;
  padding: 15px !important;
}

.footer .footer-bottom-text {
  /* display: inline-block; */
  /* padding: 0 !important; */
  margin-top: 10px;
}

.footer-bottom-text p {
  float: left;
  margin-right: 35px;
}

.footer-bottom-text a {
  margin-right: 35px;
  color: #000;
}

.footer .social {
  display: inline-block;
  /* padding: 0 !important; */
  text-align: right;
}

.footer .footer-bottom ul li {
  margin-right: 30px;
}

.footer .col-md-6 {
  font-size: 0.8125rem;
}

@media(min-width:415px) and (max-width:1024px) {
  .footer {
    padding-left: 3%;
    padding-right: 3%;
  }

  .footer-con-2 strong {
    display: none;
  }

  .footer-con-3 strong {
    display: none;
  }
}

@media (min-width:415px) and (max-width:768px) {
  .footer-logo {
    margin-bottom: 20px;
  }

  .branch-list-box {
    margin-left: 0px !important;
  }

  .footer-con-1 li {
    margin-right: 0;
  }

  .footer-con-2 strong {
    display: none;
  }

  .footer-con-2 {
    padding-left: 0 !important;
  }

  .footer-con-3 {
    padding-left: 0 !important;
    padding-bottom: 60px !important;
  }

  .footer-con-3 strong {
    display: none;
  }

  .footer-con-1 {
    padding-left: 0 !important;
  }
}

@media(max-width:750px) {
  .fooger-con-1 {
    padding: 0 !important;
  }
}

@media (min-width:0px) and (max-width:414px) {
  .footer-t {
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 36px !important;
  }

  .footer-con-2 {
    padding-left: 0 !important;
  }

  .footer-con-3 {
    padding-left: 0 !important;
    padding-bottom: 80px !important;
  }

  .footer-con-2 strong {
    display: none;
  }

  .footer-con-3 strong {
    display: none;
  }

  .footer .footer-con li {
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
  }

  .footer-logo {
    width: 50% !important;
    margin-bottom: 20px;
  }

  .fooger-con-1 {
    padding: 0 !important;
  }

  .footer .footer-con-3 li {
    border-style: none;
    margin-bottom: 0;
    /* padding-bottom: 20px; */
  }

  .footer-bottom {
    padding-bottom: 0 !important;
  }

  .footer-bottom-text {
    margin-top: 0 !important;
  }

  .footer-bottom-text li:nth-child(2) {
    margin-right: 15px !important;
    margin-top: 24px;
  }

  .footer-bottom-text li:nth-child(3) {
    margin-top: 24px;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  .footer-bottom {
    padding-bottom: 0 !important;
  }

  .footer-con-1 {
    padding-left: 0 !important;
  }
}

/* .after::after{
    content: '';
    width: 2px;
    height: 10px;
    background: #000;
    opacity: .3;
    position: absolute;
    margin-top: 5px;

} */
/* 방문예약 시작reservation_wrap */
.visit_wrap {
  background: linear-gradient(to right, #FFF5F5 50%, #ffffff 50%);
}

.article-title {
  font-weight: 500;
  margin-left: 2px;
  font-size: 1.063rem;
}

.border-bottom-thin {
  border-bottom: 1px solid #E8464D;
  padding-bottom: 18px;
}

.cube {
  background-color: #E8374A;
  color: #fff;
  padding: 2px 17px 1px 17px;
  display: inline-block;
  font-size: 1.563rem;
  font-weight: 800;
  min-height: 33px;
}

.cube-angle {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #fff;
  position: relative;
  width: 0px;
}

.cube-angle.left {
  transform: rotate(-45deg);
  top: 22px;
  left: -10px;
  height: 0px;
}

.cube-angle.right {
  transform: rotate(132deg);
  top: 51px;
  left: 36px;
  height: 0px;
}

.cube-text {
  font-weight: 700;
  font-size: 1.25rem;
}

.cube-text.size {
  border-top: 30px solid transparent;
}

.cube-text.red {
  color: #E8374A;
}

.border-bottom-thin {
  border-bottom: 1px solid #E8374A;
  padding-bottom: 21px;
}

.border-bottom-bold {
  border-bottom: 3px solid #E8374A;
  padding-bottom: 21px;
}

.red {
  color: #E8374A;
  font-weight: 600;
}

.line-box {
  border-top: 3px dashed #fb9f9d;
  padding-top: 15px;
  position: relative;
  height: 0px;
  width: 70px;
}

.line-box.d {
  transform: rotate(31deg);
  top: -67px;
  left: -42px;
}

.line-box.w {
  transform: rotate(-32deg);
  top: -77px;
  left: 66px;
}

.line-box.h {
  transform: rotate(90deg);
  top: -165px;
  left: 99px;
}

.line-box-letter {
  font-size: 0.875rem;
  position: relative;
  height: 0px;
  width: 0px;
}

.line-box-letter.d {
  top: -112px;
  left: -13px;
  transform: rotate(36deg);
}

.line-box-letter.w {
  top: -99px;
  left: 100px;
  transform: rotate(-32deg);
}

.line-box-letter.h {
  top: -189px;
  left: 150px;
}

.join-g-inquiry-right label {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  margin-bottom: 6px;
}

.form-row>.col,
.form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-group {
  margin-bottom: 12px;
}

/* 고객센터 */
.customer {
  padding: 0px 0px 150px;
}

.help {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.img-area {
  background-color: #FFF6F7;
  border-radius: 5px;
  width: 100%;
  height: 202px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* .info-area {
  padding: 50px 0px;
  padding-left: 50px !important;
} */
.align-items-center {
  display: flex;
}

.cs-box {
  border-radius: 5px;
  box-shadow: 0px 3px 6px #dedede;
}

.cs-box:nth-child(1){
  padding-right: 10px;
}

.cs-box:nth-child(2){
  padding-left: 10px;
}

.customer_box {
  border: 1px solid #e1e1e1;
  border-radius: 0.35rem;
}

.cs-box a:hover {
  text-decoration: none;
}

.box-click {
  border: 1px solid #E8464D;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}


.mg-t-30 {
  margin-top: 30px;
}

.mb-200 {
  margin-bottom: 200px;
}

.faq-box {
  border: 1px solid #E1E1E1;
  border-bottom: 0;
  width: 100%;
  border-radius: 5px;
}

.info-area {
  padding: 50px 0px;
  padding-left: 50px !important;
}

.qna-img {
  background: url('../img/qna.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 186px;
  height: 100px;
  margin: 50px auto;
}

.faq-img {
  background: url('../img/faq.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 186px;
  height: 100px;
  margin: 50px auto;
}

.cs-title {
  font-size: 1.5rem;
  color: #333333;
  font-weight: 500;
  margin-bottom: 7px;
}

.cs-txt {
  font-size: 0.875rem;
  color: #888888;
}

.questions {
  border-bottom: 1px solid #E1E1E1;
  padding: 20px 20px;
  /* height: 64px; */
  font-size: 1rem;
  font-weight: 500;
  /* background: url('/img/arrow_down.png') no-repeat 98% 50%; */
  /* background-size: 24px; */
  cursor: pointer;
}

.answered {
  border-bottom: 1px solid #E1E1E1;
  background-color: #FFF6F7;
  font-size: 0.95rem;
  padding: 20px 20px;
  display: none;
}

.answered.open-a {
  display: block;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.arrowDown {
  position: absolute;
  right: 25px;
}

.material-icons.up {
  transform: rotate(180deg);
}

.bd-b-r {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.qna-box {
  border: 1px solid #E1E1E1;
  background-color: #F7F7F7;
  width: 100%;
  border-radius: 5px;
  padding: 64px 0px;
  margin: 30px 0px;
}

.qna-box span {
  color: #E8464D;
}

.qna-input {
  width: 100%;
  border: 1px solid #E1E1E1;
  padding-left: 15px;
  border-radius: 5px;
}

.form-select {
  width: 100%;
  height: 50px;
  border: 1px solid #E5E5E5;
  padding: 12px;
  color: #888888;
  margin-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../img/arrow_down.png') no-repeat 98% 50%;
}

.qna-input::placeholder {
  color: #888888;
  font-size: 0.95rem;
  font-weight: 300;
}

.name {
  height: 50px;
}

.ask {
  padding-top: 15px;
  height: 222px;
}

.mg-13 {
  margin: 13px 0px;
  white-space: pre-line;
  word-break: keep-all;
}

.btn-qna-area {
  width: 100%;
  text-align: center;
  padding: 40px 0px 0px;
}

.btn-qna {
  background-color: #E0E0E0;
  border-radius: 54px;
  font-size: 0.95rem;
  font-weight: 500;
  width: 123px;
  height: 50px;
  border: none;
}

.agree-txt {
  color: #888888;
  font-size: 0.95rem;
  position: absolute;
  margin-top: -35px;
  margin-left: 35px;
  word-break: keep-all;
}

.agree-txt a {
  color: #000 !important;
  text-decoration: underline !important;
  font-weight: 500;
}

input[type="checkbox"] {
  display: none;
  width: 1px;
  height: 1px;
}

input[id="checkYN"]+label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #888888;
  cursor: pointer;
  border-radius: 3px;
}

input[type="checkbox"]:checked+label {
  background-color: #E8374A;
}

.interval a:hover {
  text-decoration: none;
}

/* .special-badge-detail {
  background: transparent linear-gradient(118deg, #458CFF 0%, #71D6D6 100%) 0% 0% no-repeat padding-box;
  border-radius: 23px;
  width: 90px;
  height: 30px;
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  padding: 5px 0px;
  position: unset;
  display: inline-block;
}

.badge-round {
  width: 13px;
  height: 13px;
  background: transparent linear-gradient(180deg, #458CFF 0%, #71D6D6 100%) 0% 0% no-repeat padding-box;
  border-radius: 50%;
  display: inline-block;
  position: unset;
  margin-left: 10px;
} */
/* 제휴서비스-start*/
.partner_form_wrap {
  margin-bottom: 215px;
}

/*
  .join-guide {
    padding: 220px 0px 0px;
  } */
.partner_wrap {
  padding: 25px 0px 0px;
}

.main_title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0;
  text-align: left;
}

.main-text {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 7px;
}

.sub-text {
  font-size: 1rem;
  font-weight: 400;
  color: #555;
}

.partner-form {
  border: 1px solid #e1e1e1;
  padding: 1rem 1rem;
  width: 100%;
  font-size: 0.875rem;
  color: #888;
  height: 50px;
  margin: 6px 0px 12px;
  background-color: #fff;
}

.partner-form1 {
  display: block;
  width: 100%;
  /* max-width: 495px; */
  height: 50px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #888888 !important;
  background-color: #fff;
  border: 1px solid #E1E1E1 !important;
  border-radius: 5px;
  padding: 0px 12px;
  font-size: 0.875rem !important;
  margin: 6px 0px 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.select-down {
  position: relative;
  top: -50px;
  color: #000;
  z-index: 30;
  float: right;
  height: 0px;
}

.partner-form::input {
  color: #888888;
  font-size: 0.95rem;
}

.partner-p {
  padding: 15px;
  margin: 6px 0 12px;
}

.privacy-txt {
  color: #888888;
  font-weight: 300;
  font-size: 0.95rem;
}

.privacy-b {
  color: #000 !important;
  font-weight: 500;
  text-decoration: underline !important;
}

.form-title {
  font-size: 1rem;
  font-weight: 500;
}

.privacy-txt-e {
  color: #888888;
  font-weight: 300;
  font-size: 0.95rem;
  position: absolute;
  margin-top: -34px;
  left: 10%;
}

input[id="privacy-e"]+label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #888888;
  cursor: pointer;
  border-radius: 3px;
}

input[id="privacy"]+label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #888888;
  cursor: pointer;
  border-radius: 3px;
  position: absolute;
  left: 40%;
  margin-top: 25px;
}

.faq-img {
  background-image: url(../img/faq.png);
}

.qna-img {
  background-image: url(../img/qna.png);
}

@media (max-width:1229px){
  .cs-box{
    max-width: 100%;
  }
}

/* 프렌차이즈 가맹 */
.mh {
  margin-top: 230px;
  margin-bottom: 230px;
}

.franchise_main_wrap {
  background: url(../img/franchise_main_banner.jpg);
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ft-14 {
  font-size: 1.4rem !important;
}

.mg-t-3 {
  margin-top: 3rem;
}

.franchise-topbox {
  background-color: #fff;
  top: 400px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 37px 10px;
  margin: 0;
}

.join-guide {
  padding-top: 80px !important;
  padding-left: 0 !important;
}

.join-guide-bottom {
  padding-top: 30px;
}

.join-g-title {
  padding: 0 !important;
}

.join-guide .join-g-title h5 {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 35px;
}

.join-g-menu {
  margin-bottom: 45px;
}

#join-g-menu {
  margin: 0 auto;
  height: 55px;
  padding-top: 15px;
}

.join-g-line {
  border-bottom: 1.5px solid #e1e1e1;
  height: 100%;
  padding-bottom: 40px !important;
}

.join-g-scroll-active {
  position: fixed;
  background: white;
  opacity: 1;
  top: 0;
  display: block;
  z-index: 9999;
  transition: all 0.3s;
  color: #000;
  font-weight: 500;
  box-shadow: 0px 3px 6px #00000029;
}

.join-g-menu-item {
  display: inline-block;
  font-size: 1.063rem;
  font-weight: 500;
  letter-spacing: 0;
  color: #888888;
  margin-right: 43px;
  height: 100%;
  border-style: none;
  background: none;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 5px;
}

/* #join-g-btn-act {
  color: #000;
  border-bottom: 3px solid #E8464D;
} */
.join-g-menu-item:hover {
  color: #000;
  border-bottom: 2px solid #E8464D;
  text-decoration: none;
  padding-bottom: 5px;
}

.join-g-menu-item:active {
  color: #000;
  border-bottom: 2px solid #E8464D;
}

.join-g-menu-item:nth-child(5) {
  margin-right: 0;
}

.join-guide {
  padding-top: 140px;
  padding-left: 0 !important;
}

.slide-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  line-height: 35px;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  /* padding-bottom: 100px; */
}

.col-img img {
  width: 100%;
  max-width: 100%;
}


/* 가맹-지점안내 */
.branch-title {
  font-size: 1.125rem;
  font-weight: 500;
  /* display: inline; */
  margin-bottom: 12px;
}

.branch-title span {
  font-size: 1.125rem;
  color: #888;
  font-weight: 400;
  margin-left: 10px;
}

.branch-box {
  margin-left: 40px;
}

.branch-box h3::after {
  content: '';
  display: block;
  position: relative;
  top: 14px;
  width: 32px;
  height: 3px;
  background-color: #E8464D;
}

/* 가맹-가맹절차 */
.join-g-pro-con {
  width: 11.25rem;
  height: 11.25rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
  font-size: 1.125rem;
  font-weight: 700;
  background-repeat: no-repeat;
  background-size: cover;
}

.join-g-pro-con span {
  color: #E8464D;
}

.g-pro:last-child {
  margin-bottom: 168px;
}

.sort-height-line {
  height: 1px;
  border: 1px solid #e1e1e1;
  top: 210px;
  transform: rotate(90deg);
  right: 8.2%;
}

.sort-width-line {
  height: 1px;
  border: 1px solid #e1e1e1;
  top: 100px;
}

.sort-height-line2 {
  height: 1px;
  border: 1px solid #e1e1e1;
  top: 210px;
  transform: rotate(90deg);
  left: 8.2%;
}

.under {
  color: #000;
}

/* 가맹-가맹문의 */
.visitInputInquiry {
  height: 200px;
  resize: none;
}

/* 지점 */
.branch-list-address {
  font-size: 1.063rem;
  font-weight: 500;
  color: #888888;
  display: inline;
  margin-right: 10px;
}

/* .branch-address {
  font-size: 1.125rem;
  color: #888;
  font-weight: 400;
} */
.branch-list-box {
  margin-left: 40px;
}

.branch_list_btn {
  border: 1.5px solid #fff;
  background: none;
  color: #fff;
  border-radius: 5rem;
  font-size: 1.125rem;
  padding: 11px 30px;
}

.mobile_show {
  background-color: #E8464D;
}

.arrow-forward {
  background: none;
  border: none;
  font-size: 1.063rem;
  color: #fff;
  padding: 22px;
  width: 100%;
}

.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  color: #000;
  z-index: 1033;
  top: 0px;
  left: 0px;
  display: none;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border-style: none;
  background: transparent;
}

.close-btn span {
  font-size: 40px;
}

.mobile-menu ul {
  padding-left: 0 !important;
}

.mobile-menu .mobile-menu-list {
  text-align: center;
  height: 70%;
  margin-top: 250px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
}

.mobile-menu .mobile-menu-list a {
  color: #000;
}

.mobile-menu .mobile-menu-list a:hover {
  text-decoration: none;
}

.mobile-menu .mobile-menu-list li {
  margin-bottom: 10%;
}

a:visited {
  text-decoration: none;
}

.mobile-menu .mobile-menu-list button {
  width: 70%;
  height: 10%;
  border-radius: 20px;
  border: 3px solid #E8464D;
  background-color: transparent;
  color: #E8374A;
  font-weight: 600;
}

/* 문의 성공 페이지 */
.check-gif {
  background: url('../img/check-success.gif');
  width: 80px;
  height: 80px !important;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 200px auto 0px;
}

.check-lottie {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 190px;
}

.success-page {
  padding: 0px;
  min-height: 650px;
}

.success-txt2 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin: 15px auto;
}

.success-btn-box {
  text-align: center;
}

.success-btn {
  border: 1px solid #E8374A;
  color: #0e1726;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  width: 40%;
  height: 50px;
  margin: 15px auto;
}

.return {
  background-color: #E8374a;
  color: #fff;
}

.success-btn:hover {
  text-decoration: none;
  color: #E8374A;
  background-color: #fff;
  border: 1.5px solid #E8374A;
}

@media (max-width:1000px) {
  .success-btn {
    width: 60%;
  }
}

@media (max-width:740px) {
  .success-btn {
    width: 80%;
  }
}

#join-g-btn-act {
  color: #000 !important;
  border-bottom: 2px solid #E8374A;
  font-weight: 500;
  margin-bottom: 2px;
}

.line {
  line-height: 30px;
}

.visit-down {
  margin-top: 5px;
}

.package-con {
  padding-top: 100px;
}

.package-con h2 {
  font-size: 26px;
  font-weight: 400;
}

.package-con p {
  font-size: 16px;
  letter-spacing: 0;
  margin-top: 15px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 30px;
}

.package-con .form-group {
  padding-right: 0px;
}

.package-con label {
  font-size: 16px;
  font-weight: 500;
}

.package-con input {
  width: 100%;
  height: 50px;
  border: 1px solid #e5e5e5;
}

.package-con .form-con {
  widows: 90%;
}

@media(max-width:990px) {
  .package-con .form-row {
    width: 100%;
    padding: 15px;
  }

  .modal-body {
    padding: 50px 20px !important;
  }

  .footer-right {
    float: left;
  }

  .package-con h2 {
    margin-left: 15px;
  }

  .package-con p {
    margin-left: 15px;
  }

  .package-img {
    display: none;
  }

  .package-con {
    padding-bottom: 100px;
  }
}

/* privacy */
.privacy {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  margin-right: 35px;
}

.privacy:hover {
  text-decoration: none;
  color: #000;
}

/* 개인정보 취급방침 */
.privacy-wrap {
  padding: 150px 0px;
}

.privacy-line {
  width: 100%;
  height: 3px;
  background-color: #E8464D;
  margin: 0px 0px 50px;
}

.privacy-title {
  color: #E8464D;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.privacy-txt {
  font-size: 17px;
  font-weight: 400;
}

.privacy-num {
  font-size: 19px;
  font-weight: 600;
  margin-top: 50px;
}

.privacy-info {
  font-size: 17px;
  font-weight: 400;
  margin: 20px 0px;
}

.privacy-num1 {
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
}

.privacy-info1 {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0px;
}

.privacy-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

.privacy-table td, .privacy-table th {
  border: 1px solid #ddd;
  padding: 25px;
}

.privacy-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.privacy-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #E8464D;
  color: white;
  width: 25%;
}

.modal-dialog {
  max-width: 700px;
}

.modal-body {
  padding: 40px;
}

.modal-content {
  height: 450px;
}

.close {
  width: 6%;
  height: 10%;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 40px;
  color: #E8464D;
  opacity: 1;
  z-index: 999;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.btn-privacy {
  border: 0;
  background-color: #fff;
  text-decoration: underline;
}

@media (min-width:0px) and (max-width:414px) {
  .privacy-wrap {
    padding: 100px 0px;
  }

  .privacy-title {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .privacy-txt {
    font-size: 15px;
  }

  .privacy-num {
    font-size: 17px;
    margin-top: 30px;
  }

  .privacy-info {
    font-size: 15px;
    margin: 15px 0px;
  }

  .privacy-table td, .privacy-table th {
    padding: 5px;
  }

  .privacy-line {
    margin: 0px 0px 30px;
  }
}

/* 시작하기 페이지 */
.full-area {
  width: 100%;
  height: 100vh;
}

.half {
  width: 50%;
  /* height: 100vh; */
}

.left-area {
  float: left;
}

.right-area {
  float: right;
}

.banner3-img {
  background: url(../img/banner@2x.jpg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}


.package-p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}

.form-box h2 {
  margin-bottom: 35px;
  font-weight: 500;
}

.form-box span {
  color: #E8464D;
}

.form-box p {
  margin-bottom: 6px;
}


.form-input {
  width: 100%;
  height: 50px;
  border: 1px solid #E5E5E5;
  margin-bottom: 15px;
  padding: 15px;
}

.form-box .form-btn {
  width: 100%;
  height: 60px;
  background-color: #E8464D;
  border: 1px solid #E8464D;
  font-size: 15px;
  color: #fff;
  margin-top: 14px;
}

.form-box .form-btn:hover {
  background: #000;
  border: 1px solid #000;
}

input[type="checkbox"] {
  opacity: 0;
  width: 1px;
  height: 1px;
}

input[id="agree"]+label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  cursor: pointer;
}

input[type="checkbox"]:checked+label {
  background: url(../img/check2x.png) no-repeat center/25px 25px;
}

.agree-txt {
  position: absolute;
  margin-top: -35px;
  margin-left: 35px;
  font-size: 14px;
}

.mt-20 {
  margin-top: 20px;
}

.btn-agree {
  border: none;
  background-color: #fff;
  text-decoration: underline;
}

.form-select {
  width: 100%;
  height: 50px;
  border: 1px solid #E5E5E5;
  padding: 12px;
  color: #888888;
  margin-bottom: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../img/arrow_down.png') no-repeat 98% 50%;
}

select::-ms-expand {
  display: none;
}

@media (max-width:991px) {
  .mg-r-30 {
    margin-right: 0px;
  }

  .half {
    width: 100%;
  }

  .footer-con-1 span a {
    margin-right: 15px;
  }

  .navbar-wrap {
    padding: 0 15px;
  }

  .franchise-topbox {
    padding: 30px 10px;
  }

  .mg-t-3 {
    margin-top: 25px;
  }

  .form-box .form-btn {
    margin-top: 35px;
  }

  .package-p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px !important;
  }

  .right-area {
    display: none;
  }

  .form-12 {
    width: 80%;
  }

  .form-box h2 {
    text-align: center;
  }
}


/* qna & faq page */
.service-box{
  height: 202px;
}

.service-box img {
  height: 50%;
  max-width: 186px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-box .card-body{
  max-width: 270px;
  word-break: keep-all;
}

.service-box.left{
  padding-left: 0; 
}

.service-box.right{
  padding-right: 0; 
}

.service-box .card-title{
  font-size: 20px;
  font-weight: 400 !important;
  color:  #333;
}

.service-box .card-text{
  font-size: 14px;
  color:  #888;
}

.navbar{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

@media (max-width:1248px){
  .Customer_wrap .main-title{
    padding-left: 15px;
  }
  .help{
    padding-left: 15px;
  }
}

@media(max-width: 767px){
  .col-md-5.Aligner{
    display: none;
  }
}

@media(max-width:401px){
  .col-md-7.Aligner .card-text{
    display: none;
  }
  .col-md-7.Aligner .card-title{
    text-align: center;
  }
  .service-box{
    height: 50px;
  }
  .service-box .card-body{
    padding-top: 10px;
  }
}


.main_inquiry_btn{
	text-align: center;
    position: fixed;
    z-index: 999;
    bottom: 20px;
    right: 50px;
    width: 100px;
    height: 100px;
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #E8464D;
    border-radius: 50%;
    color: #E8464D;
	line-height: 1;
    padding-bottom: 3px;
	font-size: 17px;
	font-weight: 400;
}

.main_inquiry_bg{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #000000 0% 0% no-repeat padding-box;
	opacity: 0.5;
	z-index: 99;
}

.main_inquiry .form_box{
	width: 390px;
	height: 872px;
	position: fixed;
	bottom: 20px;
	right: 48px;
	z-index: 999;
	background: linear-gradient(180deg, #E8464D 200px, 0, #EEEEEE);
	border-radius: 8px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0px 3px 6px #00000029;
}

.main_inquiry .form_box .top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 5px;
	padding-right: 5px;
}

.main_inquiry_close{
	color: #fff;
	font-weight: 500;
	font-size: 28px;
	cursor: pointer;
}

.main_inquiry_logo{
	width: 105px;
	height: auto;
}

.main_inquiry .form_box .form{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #ADADAD59;
	border-radius: 8px;
	padding: 16px 10px 6px 10px;
}

.main_inquiry .form_box label{
	width: 100%;
	margin-bottom: 6px;
	font-weight: 500;
}

.main_inquiry .form_box .in_form_con{
	width: 100%;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	display: flex;
	align-items: center;
	font-size: 15px;
	padding-left: 12px;
	padding-right: 12px;
	height: 50px;
	font-weight: 400;
}

.main_inquiry .form_box .in_form_con::placeholder{
	color: #888888;
}

.main_inquiry .form_box .form .col-12{
	margin-bottom: 12px;
}

.main_inquiry .form_box .form textarea{
	height: 140px;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	width: 100%;
}

.main_inquiry .form_box .form .check{
	border: 1px solid #888888;
	border-radius: 3px;
	width: 18px;
	height: 18px;
}

.main_inquiry .form_box .form .agree-txt {
    margin-top: -31px;
    margin-left: 20px;
    font-size: 13px;
	color: #888888;
    margin-bottom: 4px;
}

.main_inquiry .form_box .form button{
	width: 100%;
	height: 48px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #E8464D;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #E8464D;
	font-weight: 500;
}

.main_inquiry .form_box .form button:hover{
	background: #E8464D 0% 0% no-repeat padding-box;
	border: 1px solid #fff;
	color: #fff;
}

@media (max-width:492px) {
	.main_inquiry_btn{
		width: 80px;
		height: 80px;
		font-size: 14px;
		right: 20px;
	}
	.main_inquiry .form_box {
		width: 100vw;
		left: 0;
	}
}

@media (max-width:450px) {
	.main_inquiry .form_box {
		height: 100vh;
		top: 0;
		border-radius: 0;
	}
	.main_inquiry .form_box .form{
		height: 87vh;
		overflow-y: auto;
		padding-bottom: 35px;
	}

}

@media (max-width:391px) {
	.main_inquiry_btn {
		right: 15px;
		bottom: 15px;
		font-size: 13px;
	}
	.main_inquiry .form_box .form{
		height: 87vh;
		overflow-y: auto;
		padding-bottom: 55px;
	}

	.main_inquiry .form_box .form button{
		margin-bottom: 20px;
	}
}

@media (max-width:380px) {
	.main_inquiry .form_box .form .agree-txt {
		margin-top: -30px;
		margin-left: 25px;
		font-size: 13px;
		padding-right: 15px;
		word-break: keep-all;
		margin-bottom: 10px;
	}
	.main_inquiry .form_box .form button{
		margin-top: 10px;
	}
}


.toggle-mobile-menu span{
	color: #555;
	font-size: 36px;
}

.toggle-mobile-menu .main_menu{
	color: #fff;
	font-size: 36px;
}

.top-nav.fixed-head .toggle-mobile-menu span{
	color: #555;
}

@media(max-width:990px){
	.sort-height-line {
		top: 176px;
	}
	.join-g-pro-con {
		width: 9.25rem;
		height: 9.25rem;
		padding-top: 46px;
		font-size: 16px;
	}
	.sort-height-line2 {
		top: 177px;
	}
	.sort-width-line {
		top: 75px;
	}
}

@media(max-width:349px){
	.desk_hide .mo_hide{
		display: none;
	}
}

select {
  background:url('../img/arrow-down.png') no-repeat right 9px center;
}